*,
html,
body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

*{
    text-transform: capitalize;
    /* color: white; */
}
p{
    margin-left: 40px;
}
a{
    text-decoration: none;
}
.judul{
    
    padding: 10px 20px;
    border-radius: 15px;
    background-color: white;
    color: black;
}
.data-diri-10{
    color: white;
    margin: 20px 20px;
}
img{
    border-radius: 20px;
    margin-bottom: 10px;
}